*{
    box-sizing: border-box;
}
.container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


a{
    text-decoration: none;
}

h1{
    color: red;
}